#contact {
  overflow: hidden;
  font-size: 1.3rem;
  width: 100%;
  color: var(--prim-clr);
}

#textCont {
  margin: 0 0;
  padding: 0%;
  background-color: var(--sec-clr);
  padding: 0.5rem;
}
#textCont h2 {
  font-family: var(--spartan);
}

#textCont h2,
#textCont p {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

#contact a {
  color: var(--tert-light-clr);
}

#iconsCont {
  // background-color: var(--black);
  // display: flex;
  // width: 100%;
  // margin: 0 auto;
  // text-align: center;
}