:root {
  --black: #171321;
  --sec-clr: #4b945c;
  --sec-light-clr: #badec3;
  --prim-clr: #e09346;
  --tert-clr: #473594;
  --tert-light-clr: #a294e0;
  --white: #f7f8fa;
  --font-size: 1.5rem;
  --spartan: "League Spartan", sans-serif;
  --zen: "Zen Maru Gothic", sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--zen);

  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: var(--tert-light-clr);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
