#intro {
  max-width: 845.091px;
  margin: 0 auto;
  padding: 2rem;
}

#contentCard {
  margin: 0;
  padding: 1rem;
  background-color: var(--tert-transp-clr);
  border-radius: 1rem;
}


#intro p {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.greeting {
  font-size: 1rem;
}

.greeting span {
  font-size: 1.6rem;
}

#intro h2 {
  font-family: var(--spartan);
  font-size: 2rem;
  padding: 0;
  margin: 1rem 0;
}

@media (min-width: 1240px) {
  #intro {
    margin: 0 70px;
  }
}