#intro {}

#intro p {
  line-height: 1.5;
}

.name {
  font-family: unset;
  // font-family: var(--spartan);
}

.name span {
  // font-family: var(--zen);
  font-size: 1.6rem;
}

#intro h2 {
  // font-family: var(--spartan);
  font-size: 2rem;
}

#contact {
  background-color: var(--sec-light-clr);
}

#contact section {
  width: 100%;
}
