#layout nav {
    // background-color: khaki;
    display: flex;
    width: 100%;
    font-family: var(--spartan);
    justify-content: center;
}

#layout #mainUl ul {
    justify-content: right;
}

#layout nav ul {
    width: 50vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

#layout a {
    margin: 8px 0;
    display: block;
    text-decoration: none;
    color: var(--prim-clr);
}

#layout a:hover,
#layout h1:hover {
    color: var(--tert-light-clr);
}

#layout nav li:first-child {
    text-align: right;
    flex-basis: 100%;
}

#layout h1 a {
    color: var(--white);
    font-family: var(--zen);
}

#offsiteUl ul {
    display: flex;
    place-content:center;
    height: 100%;
}

#offsiteUl li {
    justify-content: left;
    font-size: 30px;
    min-height: auto;
    display: flex;
    flex-basis: 100%;
}

#mainUl ul {
    align-items: baseline;
}

.iconLink {
    height: 30px;
}
