#layout nav {
    display: flex;
    width: 100%;
    font-family: var(--spartan);
    justify-content: center;
}

nav #offsiteUl {
    align-self: center;
}

#layout #mainUl ul {
    justify-content: right;
}

#layout nav ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

#layout a {
    margin-bottom: 8px;
    display: block;
    text-decoration: none;
    color: var(--prim-clr);
}

#layout a:hover,
#layout h1:hover {
    color: var(--tert-light-clr);
}

#layout nav li:first-child {
    text-align: right;
    flex-basis: 100%;
}

#layout h1 a {
    color: var(--white);
    font-family: var(--zen);
}

#offsiteUl li {
    font-size: smaller;
    flex-basis: 100%;
}