#layout nav {
    display: flex;
    width: 100%;
    font-family: var(--spartan);
    justify-content: center;
    // margin-left: 3rem;
}

#layout #mainUl ul {
    margin-top: 2vh;
    justify-content: right;
}

#layout nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

#mainUl,
#offsiteUl {
    flex-basis: 50%;
}

#layout a {
    margin: 8px 0;
    display: block;
    text-decoration: none;
    color: var(--prim-clr);
}

#icon {
    margin-right: 3px;
    font-size: 150%;
    color: var(--prim-clr);
}

#layout a:hover {
    color: var(--tert-light-clr);
    background-color: var(--tert-transp-clr);
    border-radius: 3rem;
}


#layout nav li:first-child {
    text-align: right;
    flex-basis: 100%;
}

#layout h1 a {
    display: inline;
    font-size: 3rem;
    color: var(--white);
    font-family: var(--zen);
}

#offsiteUl {
    margin: 0;
    padding: 0;
}

#offsiteUl ul {
    margin: 0;
    padding: 0;
    display: flex;
    place-content: center;
    height: 100%;
}

#offsiteUl li {
    justify-content: left;
    font-size: 30px;
    min-height: auto;
    display: flex;
    flex-basis: 100%;
}

#mainUl ul {
    align-items: baseline;
}

.iconLink {
    height: 30px;
}


@media(min-width: 1240px) {
    #layout nav li:first-child {
        text-align: right;
        flex-basis: auto;
        margin-right: auto;
    }

    #layout nav li h1 {

        margin-left: 40px;
    }

    #layout nav {
        margin-left: 0;
    }
}

#footer {
    overflow: hidden;
}

#spacerBot {
    min-height: 1px;
    position: relative;
    top: 0;
    height: auto;
}

#topGrad {
    min-height: 3px;
    background: var(--grad-tert-dark-light);
}

#botGrad {
    min-height: 3px;
    background: var(--grad-tert-light-dark);
    margin: 0%;
    padding: 0%;
}

.divider {
    margin: 14px;
    min-width: 4px;
    background-color: var(--white);
}